@import "tailwindcss";
:root {
  --c-bg-primary: #FCFBF8;         
  --c-bg-secondary: #E9F0EB;        
  --c-action-primary: #1F675A;       
  --c-action-primary-hover: #1a544a; 
  --c-highlight: #FFC759;            
  --c-text-primary: #333333;         
  --c-text-secondary: #6B7280;       
  --c-border: #DCDCDC;               
  --c-success: #34D399;              
  --c-error: #F87171;                
}



